@import 'normalize';
@import 'mediaelementplayer';
/* My CSS */

$bg : yellow;
$c : white;

body {
    background: $bg;
    margin:auto;
}
body, video {
    max-width: 90%;
}
h1 {
    color: $c;
}
/* Lettering */
