/* My CSS */

$bg : yellow;
$c : white;

body {
    background: black;
    margin:auto;
}
body, video {
    max-width: 85%;
}

/* Lettering */

h1 {
    color: $c;
    font-family: 'Fascinate Inline', cursive;
    font-size: 5em;
    text-align: center;
}

p {
    font-family: 'EB Garamond', serif;
    color: $c;
}
.char1,.char3,.char6,.char8,.char10,.char12 {
    color: lightgray;
}
.char2,.char5,.char7,.char9,.char11 {
    color: darkgray;
}

/* Layout */

.page {
    display: flex;
}

header,
section,
main,
article, 
aside,
footer {
    flex: 1;
}